html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #000;
}

.azuremediaplayer-dimensions {
  width: 100% !important; 
  height: 100% !important;
}
.azuremediaplayer {
    position: initial !important;
}

.amp-content-title {
    display: none;
}

